site_name: dizzy
theme: 
  features:
    - content.code.copy
    - content.tabs.link
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: pink
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
plugins:
  - search
  - pub-obsidian:
      backlinks:
        enabled: false
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: false
            show_source: true
            annotations_path: full
            show_signature_annotations: false
            signature_crossrefs: true
            show_if_no_docstring: false
            show_symbol_type_heading: true
            show_symbol_type_toc: false

repo_url: https://github.com/ConradMearns/dizzy


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
